# Arquivos e diretórios específicos do Python
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class

# Diretório do ambiente virtual Python
.venv/

# Diretório específico do PyCharm
.idea/

# Arquivo de configuração do PyCharm
*.iml

# Arquivos de midia
media

# Arquivos de logs
*.log

# Arquivos de dados
*.sqlite3
*.db

# Diretório de saída do Python
__pycache__/

# Arquivos de configuração do VS Code
.vscode/
